* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden;
}

.canvas1 {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  max-width: 100%;
  max-height: 100%;
}
img{
  display: none;
}
